{% extends 'base.html' %}

{% block meta %}
<body>
<title>Account Registration</title>
{% endblock meta %}

{% block content %}  

<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<div class = "login">

    <h1 style="font-family:'Poppins'"><center>✷ Registration ✷</center></h1>

        <form method="POST" >  
            {% csrf_token %}  
            <table align="center">  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="Register" style="font-family: 'Poppins'; padding: 5px; margin: 10px;"/></td>  
                </tr>  
            </table>  
            <!-- <input type="submit" name="submit" value="Daftar" style="font-family: Georgia, 'Times New Roman', Times, serif; padding: 5px; margin: 10px;"/> -->
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  
</body>
<style>
    table {
        font-family: 'Poppins';
        padding: 5px;  
    }
    tr, td {
        padding: 5px;
        font-family: 'Poppins';
    }
    body {
        background-image: url(https://cdn.discordapp.com/attachments/766058720706166805/1027467786844385300/TediousBlindIvorygull-max-1mb.gif);
        background-repeat: repeat;
        background-size: cover;
    }
    h1 {
        font-size: 60px;
    }
</style>

{% endblock content %}