{% extends 'base.html' %}

{% block meta %}
<body>
<title>Add a Task</title>
{% endblock meta %}

{% block content %}

<link href='https://fonts.googleapis.com/css?family=Pinyon Script' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<div class = "add">
    <h1 style="font-family:'Pinyon Script'"><center>✷ Add a task! ✷</center></h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table align="center">
            <tr>
                <td>Task: </td>
                <td><input type="text" name="title" placeholder="Task name" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Description: </td>
                <td><input type="text" name="description" placeholder="Task description" class="form-control"></td>
            </tr>
        </table>

        <input type="submit" name="submit" value="Add Task" style="font-family: 'Poppins'; padding: 5px; margin: 10px;"/>
        <input type="button" value="Back" onclick="history.back()" style="font-family: 'Poppins'; padding: 5px; margin: 10px;"/>
    </form>

</div>
</body>

<style>
    .add {
        text-align: center;
    }
    tr, td {
        padding: 5px;
        font-family: 'Poppins';
    }
    input {
        padding: 3px;
    }
    form {
        font-family: 'Poppins';
    }
    body {
        background-color: #FFEFD5;
    }
    h1 {
        font-size: 40px;
        margin-bottom: 50px;
    }
</style>

{% endblock content %}