{% extends 'base.html' %}

{% block meta %}
<body>
<title>TODOLIST</title>
{% endblock meta %}

{% block content %}

<link href='https://fonts.googleapis.com/css?family=Pinyon Script' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <body>
    <h1 style="font-family:'Pinyon Script'"><strong><center>❗❗Todolist❗❗</center></strong></h1>
    <h2 style="font-family:'Poppins'"><center>Username: {{nama}}</center></h2><br>

    <div class="button-task">
        <button><a href="create-task/">Add a new task</a></button>
        <div class="space"></div>
        <button><a href="{% url 'todolist:logout' %}">Logout</a></button>
    </div>

  </body>

  <style>
    table, th, td {
        border: 1px solid white;
        border-collapse: collapse;
    }
    th, td {
        background-color: #D8BFD8;
        padding: 10px;
        font-family: 'Poppins';
    }
    body, table {
        margin-top: 20px;
        background-color: #E6E6FA;
    }
    h1 {
        font-size: 50px;
        margin-bottom: 10px;
    }
    .space {
        width: 4px;
        height: auto;
        display: inline-block;
    }
    .button-task {
        text-align: center;
    }
  </style>

  <table align="center" > 
    <thread><tr>
        <th>Date created</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Option</th>
    </tr></thread>

    {% for list in todo_list %}
      <tr>
        <td>{{list.date}}</td>
        <td>{{list.title}}</td>
        <td>{{list.description}}</td>
        <td>
            {% if list.is_finished %}
                Done
                {% else %}
                Undone
                {% endif%}
        </td>
        <td>
          <button><a href="{% url 'todolist:status' list.id %}">Change Status</a></button>
          <button><a href="{% url 'todolist:delete' list.id %}">Delete Task</a></button>
            
        </td>
      </tr>
    {% endfor %}

  </table>

 {% endblock content %}